<div class="container"> 
  <h2><%= @survey.name %><h2>
<% @answers.each do |answer| %>
<% percent = ((answer.votes_count / @total) * 100).to_i %>
<div class="row mt-4">
    <div class="col col-1 fs-5"><%= percent %> %</div>
    <div class="col col-4">
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: <%= percent %>%"><%= percent %>%</div>
        </div>
    </div>
    <div class="col fs-5">
         <%= answer.text %>
    </div>

    
</div>
<% end %>
<a  class="btn btn-primary mt-4"  href="/">Гласувай отново</a>
<div >
